body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

/* Titel */
h1 {
    font-size: 3em;
    margin-top: 40px;
}

/* Game blok */
.game-box {
    margin-top: 50px; /* ZET ALLES LAGER */
}

/* Knoppen */
button {
    font-size: 20px;
    padding: 15px 25px;
    margin: 15px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background: #1e90ff;
    color: white;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

/* Logo's */
img.game-logo {
    width: 90px;
    display: block;
    margin: 20px auto; /* MEER RUIMTE */
}
