body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #1e90ff;
    color: white;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

img.game-logo {
    width: 80px;
    display: block;
    margin: 0 auto 10px auto;
}
